﻿/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
	-webkit-appearance:none;
	border-radius:0px;
	border:none;
	padding:0;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */



@font-face {
    font-family: 'PTSansRegular';
    src: url('PTS55F-webfont.eot');
    src: url('PTS55F-webfont-1.eot') format('embedded-opentype'),
         url('PTS55F-webfont.woff') format('woff'),
         url('PTS55F-webfont.ttf') format('truetype'),
         url('PTS55F-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSansItalic';
    src: url('PTS56F-webfont.eot');
    src: url('PTS56F-webfont-1.eot') format('embedded-opentype'),
         url('PTS56F-webfont.woff') format('woff'),
         url('PTS56F-webfont.ttf') format('truetype'),
         url('PTS56F-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSansBold';
    src: url('PTS75F-webfont.eot');
    src: url('PTS75F-webfont-1.eot') format('embedded-opentype'),
         url('PTS75F-webfont.woff') format('woff'),
         url('PTS75F-webfont.ttf') format('truetype'),
         url('PTS75F-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSansBoldItalic';
    src: url('PTS76F-webfont.eot');
    src: url('PTS76F-webfont-1.eot') format('embedded-opentype'),
         url('PTS76F-webfont.woff') format('woff'),
         url('PTS76F-webfont.ttf') format('truetype'),
         url('PTS76F-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSansCaptionRegular';
    src: url('PTC55F-webfont.eot');
    src: url('PTC55F-webfont-1.eot') format('embedded-opentype'),
         url('PTC55F-webfont.woff') format('woff'),
         url('PTC55F-webfont.ttf') format('truetype'),
         url('PTC55F-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSansCaptionBold';
    src: url('PTC75F-webfont.eot');
    src: url('PTC75F-webfont-1.eot') format('embedded-opentype'),
         url('PTC75F-webfont.woff') format('woff'),
         url('PTC75F-webfont.ttf') format('truetype'),
         url('PTC75F-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSansNarrowRegular';
    src: url('PTN57F-webfont.eot');
    src: url('PTN57F-webfont-1.eot') format('embedded-opentype'),
         url('PTN57F-webfont.woff') format('woff'),
         url('PTN57F-webfont.ttf') format('truetype'),
         url('PTN57F-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSansNarrowBold';
    src: url('PTN77F-webfont.eot');
    src: url('PTN77F-webfont-1.eot') format('embedded-opentype'),
         url('PTN77F-webfont.woff') format('woff'),
         url('PTN77F-webfont.ttf') format('truetype'),
         url('PTN77F-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}


html,body{
	height:100%;
	width:100%;
	background:#333;
	
	
}



#navigation{
	position:fixed;
	width:250px;
	height:100%;
	background:top left no-repeat #FFF url(../img/navi_back.png);
	background-size:cover;
	z-index:100;
	
}



#navigation .logo{
	margin-left:30px;
	margin-top:50px;	
}
            
#navigation .mainnavi{
	list-style:none;
	margin:0px;
	padding:0px;
	width:215px;
	margin-top:130px;
	
}


#navigation .mainnavi li{
	text-align:right;
	border-bottom:1px solid #ded7d3;
	margin:0;
	padding:0;
	padding-top:9px;
	
}

#navigation .mainnavi li.newsletter{
	border-bottom:none;
}

#navigation .mainnavi li.newsletter.active{
	border-bottom:none;
	background:#e0d9d6;
	margin-right:-35px;
	padding-right:35px;
	margin-top:-1px;
}


#navigation .mainnavi li:hover.newsletter.active a {
	color:#c1b2ac;
}


#navigation .mainnavi li.login{
	
}

#navigation .mainnavi li.logout{
	border-bottom:none;
}

#navigation .mainnavi li.login.active{
	border-bottom:none;
	background:#e0d9d6;
	margin-right:-35px;
	padding-right:35px;
	margin-top:-1px;
}


#navigation .mainnavi li:hover.login.active a {
	color:#c1b2ac;
}




#navigation .mainnavi li a{
	color:#c1b2ac;
	font-family: 'PTSansNarrowRegular';
	font-size:25px;
	line-height:21px;
	text-decoration:none;
	text-transform:uppercase;
	font-weight:100;
	
}

#navigation .mainnavi li img.new {
	margin-top:-15px;
	margin-right:5px;
	width:20px;
	height:20px;
	display:inline;
	
}

#navigation .mainnavi li img.new_over {
	margin-top:-15px;
	margin-right:5px;
	width:20px;
	height:20px;
	display:none;
}

#navigation .mainnavi li:hover img.new_over {
	
	display:inline;
	
}

#navigation .mainnavi li:hover img.new {
	
	display:none;
	
}

#navigation .mainnavi li.current img.new_over {
	
	display:inline;
	
}

#navigation .mainnavi li.current img.new {
	
	display:none;
	
}


#navigation .mainnavi li.small {

	padding-top:5px;
}


#navigation .mainnavi li.small a{
	
	font-size:18px;
	line-height:16px;
	padding-top:7px;
}

#navigation .mainnavi li.current a{
	color:#dc5d14;
}


#navigation .mainnavi li:hover{
	
}

#navigation .mainnavi li:hover a{
	color:#dc5d14;
}

#navigation .langmenu{
	position:absolute;
	bottom:10px;
	right:33px;
	text-align:right;
	font-size:12px;
	
}

#navigation .langmenu a{
	color:#79625b;
	text-transform:uppercase;
	text-decoration:none;
	font-size:13px;
	
}

#navigation .langmenu a:hover{
	color:#dc5d14;
	
}

#navigation .langmenu a img{
	margin-top:-3px;
	opacity:0.6;
	margin-left:3px;
	
}

#navigation .langmenu a:hover img{

	opacity:1;
	
	
}

#navigation .langmenu .socials{
	margin-left:25px;
	color:#c1b2ac;
	
	
	
}

#navigation .langmenu .socials img{
	margin-left:-3px;
	
}

#navigation .langmenu .copyright{
	padding-top:5px;
	
}

#newsletterDiv{
	background:#e0d9d6;
	padding-top:10px;
	
	margin-right:-35px;
	padding-right:35px;
	display:none;
	
	
}


nav.typmenu{
	height: 39px;
	margin-left:250px;
	width: 100%;
	background: #fff;
	overflow: hidden;
	z-index: 1000;
	border-bottom: 1px solid #f1f1f1;
}


nav.typmenu ul{
	margin: 0;
	padding: 0;

}

nav.typmenu ul li{
	float: left;
	display: table;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;

	width:14.285666666%;
	text-align: center;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-left: 1px solid #f1f1f1;

}

nav.typmenu ul li:first-child{
	border-left:none;
}

nav.typmenu ul li a{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 100%;
	height: 37px;
	font-family: 'PTSansNarrowRegular';
	color: #5b524f;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 16px;


}

nav.typmenu ul li  a.current{
	color:#dc5d14;
	font-size: 17px;
}
nav.typmenu ul li  a:hover{
	color:#dc5d14;

}


form input{
	width:258px;
	font-size:13px;
	padding-left:10px;
	padding-right:10px;
	color:#b7aca6;
	font-style:italic;
	font-family:Arial, Helvetica, sans-serif;
	height:30px;
	line-height:30px;
	border:none;
	margin-bottom:10px;
}




form input.submit-btn{
	margin-top:20px;
	background:url(../img/arrow_right.png) no-repeat;
	background-position:right;
	padding-right:50px;
	height:30px;
	border:none;
	font-family: 'PTSansNarrowRegular';
	font-size:24px;
	font-style:normal;
	font-weight:100;
	color:#3b2a22;
	text-transform:uppercase;
	
}

#newsletterform input{
	width:165px;
	padding-left:10px;
	padding-right:10px;
	color:#a0928d;
	font-style:italic;
	font-family:Arial, Helvetica, sans-serif;
	height:25px;
	line-height:25px;
	font-size:12px;
	border:none;
	margin-bottom:10px;
}


#newsletterform .submit-btn{
	margin-top:5px;
	background:url(../img/arrow_right.png) no-repeat;
	background-position:right;
	width:150px;
	height:30px;
	border:none;
	font-family: 'PTSansNarrowRegular';
	font-size:20px;
	font-weight:100;
	color:#3b2a22;
	text-transform:uppercase;
	float:right;
	margin-bottom:15px;
		
}

#loginDiv{
	background:#e0d9d6;
	padding-top:10px;
	
	margin-right:-35px;
	padding-right:35px;
	padding-bottom:10px;
	display:none;
	font-size:12px;
	
}
#loginDiv a.reg{
	font-size:12px !important;
	font-family:Arial, Helvetica, sans-serif !important;
	color:#dc5d14 !important;
	text-transform:none !important;
}

#loginform{
	
	margin-bottom:-5px;
}

#loginform input{
	width:165px;
	padding-left:10px;
	padding-right:10px;
	color:#a0928d;
	font-style:italic;
	font-family:Arial, Helvetica, sans-serif;
	height:25px;
	line-height:25px;
	font-size:12px;
	border:none;
	margin-bottom:10px;
}


#loginform .submit-btn{
	margin-top:5px;
	background:url(../img/arrow_right.png) no-repeat;
	background-position:right;
	width:150px;
	height:30px;
	border:none;
	font-family: 'PTSansNarrowRegular';
	font-size:20px;
	font-weight:100;
	color:#3b2a22;
	text-transform:uppercase;
	float:right;
	margin-bottom:15px;
		
}


div.stoerer{
	position:fixed;
	left:210px;
	margin-top:0px;
	z-index:900;
	top:10px;
	
}

div.stoerer img{
	width:100px;
	height:100px;
}


        
#imagegrid{
	position:relative;
	margin-left:250px;
	background:#333;
	margin-bottom:-1px;

	
	height:100%;

}

#imagegrid.loading{
	background-image:url(../img/loader.gif);
	background-repeat:no-repeat;
	background-position:center;	
}

#imagegrid .item{

	position:absolute;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -khtml-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
	border-bottom:1px #FFFFFF solid;
	border-right:1px #ffffff solid;
	box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  overflow:hidden;

}



#imagegrid .item .info{
	position:absolute;
	z-index:10;
	left:100%;
	top:100%;
	width:100%;
	height:100%;
	background:url(../img/over2.png) no-repeat bottom right;
	display:none;
	
    opacity: 0;
	
}

#imagegrid .item .tip3{
	position:absolute;
	z-index:9;
	width:122px;
	height:71px;
	
	background:url(../img/tip.png) no-repeat top left;

	
}
#imagegrid .item .tip3_de{
	position:absolute;
	z-index:9;
	width:122px;
	height:71px;
	
	background:url(../img/tip_de.png) no-repeat top left;

	
}

#imagegrid .item .tip3_en{
	position:absolute;
	z-index:9;
	width:122px;
	height:71px;
	
	background:url(../img/tip_en.png) no-repeat top left;

	
}

#imagegrid .item .tipneu_en{
	position:absolute;
	z-index:9;
	width:122px;
	height:71px;
	
	background:url(../img/tipneu_en.png) no-repeat top left;

	
}

#imagegrid .item .tipneu_de{
	position:absolute;
	z-index:9;
	width:122px;
	height:71px;
	
	background:url(../img/tipneu_de.png) no-repeat top left;

	
}

#imagegrid .item .pole_en{
	position:absolute;
	z-index:9;
	width:84px;
	height:81px;
	left:20px;
	bottom:20px;
	
	background:url(../img/pole_en.png) no-repeat top left;

	
}

#imagegrid .item .pole_de{
	position:absolute;
	z-index:9;
	width:94px;
	height:83px;
	left:20px;
	bottom:20px;
	
	background:url(../img/pole_de.png) no-repeat top left;

	
}

#imagegrid .item .zoom{
	position:absolute;
	z-index:10;
	width:100%;
	height:100%;
	background:url(../img/over3.png) no-repeat bottom right;
	display:none;
	left:100%;
	top:100%;
    opacity: 0;
	
}

#imagegrid .item .info p{
	margin:0;
	padding:0;
	
}

#imagegrid .item .info .text{
	color:#c1b2ac;
	font-family: 'PTSansNarrowRegular';
	font-size:22px;
	line-height:19px;
	position:absolute;
	bottom:12px;
	right:20px;
	text-align:right;
	width:50%;
	
}

#imagegrid .item .info .text span.small{
	color:#fff;
	font-family: 'PTSansNarrowRegular';
	font-size:16px;
	line-height:14px;
	
}




/*
#imagegrid .item.denied{
    -webkit-filter: blur(5px);
    -moz-filter:blur(5px);
    -o-filter:blur(5px);
    -ms-filter: blur(5px);
    filter:blur(5px);
    filter: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQoJPGZpbHRlciBpZD0iYmx1ciI+DQoJCTxmZUdhdXNzaWFuQmx1ciBzdGREZXZpYXRpb249IjMiIC8+DQoJPC9maWx0ZXI+DQo8L3N2Zz4=#blur);
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='5');

}
*/




#imagegrid .item.denied.lang0 .info{

    background:url(../img/anmelden.jpg) no-repeat bottom right;
    background-size: cover;

}
#imagegrid .item.denied.lang1 .info{

    background:url(../img/anmelden_en.jpg) no-repeat bottom right;
    background-size: cover;

}

#imagegrid .item.denied .info .arrow{

    background:url(../img/arrow.png) no-repeat;
    width:65px;
    height: 103px;
    position: absolute;
    margin-top: -100px;
    right: -20px;


}


#imagegrid .item.denied  .info .text{
	color:#3b2a21;
	font-family: 'PTSansNarrowRegular';
	font-size:38px;
	line-height:30px !important;
	position:absolute;
    left:50%;
    margin-left: -150px;
	top:50%;
    margin-top: -50px;
	text-align:left;
	width:80%;
    text-transform: uppercase;

}

#imagegrid .item.denied  .info .text span.small{
	color:#fff;
	font-family: 'PTSansNarrowRegular';
    text-transform: uppercase;
	font-size:22px;
	line-height:16px !important;
    font-weight: 100;

}

/*
#imagegrid .item.denied img{
    -webkit-filter: sepia(80%);
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.14 0.45 0.05 0 0 0.12 0.39 0.04 0 0 0.08 0.28 0.03 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: sepia(80%);
    filter: gray;


}

*/


#imagegrid .item img{
	


	
}

#imagegrid .item.fit{
	overflow:hidden;
	
	
	


	
}

#imagegrid .item.biginfo{
    background: #c5b8b2;
    border:none;
    position: relative;
    border-right: 1px solid #fff;



}

#imagegrid .item.biginfo .biginfotext{
    padding: 30px;
}


#imagegrid .item.biginfo img{
    margin-right: 10px;

    margin-top: -5px;
}


#imagegrid .item.biginfo h1{
    color: #fff;
    width: 100%;
    line-height: 35px;
    font-size: 35px;

}



#imagegrid .item.biginfo p{
    font-size:15px;
        	font-family:Arial;
        	color:#605550;
        	font-weight:100;
}

#imagegrid .item.biginfo a{
    color: #fff;
        width: 100%;
        line-height: 20px;
        font-size: 20px;
    font-weight:100;
    text-transform: uppercase;
    font-family: 'PTSansNarrowRegular';
}

#imagegrid .item.biginfo a:hover{
    color: #dc5d13;
}


#imagegrid .item.biginfo .eventtip{
    background: url("../img/bg_tip.png") no-repeat;
    background-size: cover;
    background-position: center;
    height: 120px;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 30px;
    box-sizing:border-box;
      -moz-box-sizing:border-box;
      -webkit-box-sizing:border-box;
    padding-right: 80px;

}

#imagegrid .item.biginfo .eventtip .tiplogo{
    height: 100%;
    float: left;
    padding-right:30px;
    border-right:thin solid #CCC;
}

#imagegrid .item.biginfo .eventtip h2{
    color: #dc5d13;
    font-size: 24px;
    font-weight: 100;
    margin-top: 0;
    text-transform: uppercase;


}

#imagegrid .item.biginfo a .eventtip{
    text-transform: none;
}







#imagegrid .item.biginfo .eventtip .open{
	position:absolute;
	height:80px;

	top:0px;
	right:20px;



}

#imagegrid .item.biginfo .eventtip .open img{
	padding-top:50px;
	padding-left:20px;



}

#imagegrid .item.biginfo .eventtip .logodiv{
	width:140px;
	height:80px;
	margin-right:10px;
	float:left;
	text-align:center;



}

#imagegrid .item.smallinfo{
    background: #5e4e45;
    border:none;
    padding: 30px;
    overflow: visible;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;


}

#imagegrid .item.smallinfo h1{
    color: #fff;
    width: 100%;
    line-height: 24px;
    font-size: 24px;

}

#imagegrid .item.smallinfo h1 span{
    color: #dc5d13;
    width: 100%;
    line-height: 32px;
    font-size: 32px;

}
#imagegrid .item.smallinfo a:hover{
    color: #dc5d13;
}

#imagegrid .item.smallinfo a{
    color: #fff;
    text-decoration: underline;

}

#imagegrid .item.smallinfo .button{
    position: absolute;
    z-index: 1000;
    right: 50px;
    bottom: -40px;
}



#imagegrid .item.big{

	
}
#imagegrid .item.big .info{
	background:url(../img/over.png) no-repeat bottom right;
	
}

#imagegrid .item.big .info .text{
	color:#c1b2ac;
	font-family: 'PTSansNarrowRegular';
	font-size:36px;
	line-height:31px;
	position:absolute;
	bottom:20px;
	right:20px;
	text-align:right;
	width:40%;
	
}

#imagegrid .item.big .info .text span.small{
	color:#fff;
	font-family: 'PTSansNarrowRegular';
	font-size:23px;
	
}


   
   
#imagegrid .item.big img{
	width:100%;

	
}

#detailtext{

	position:absolute;

	top:5%;
	right:0px;
	background:#cec3be;
	width:440px;
	padding:30px;
	padding-right:80px;
	
    -khtml-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
	z-index:1001;
	overflow:visible;
	
}

#breadcrumb{
	margin-top:-30px;
	height:30px;
	
}

#breadcrumb.lifestyle{
	margin-left:40px;
	
	
}

#breadcrumb ul {
	 list-style-type: none;
  	padding: 0;
	color:#dc5d14;
	
}
#breadcrumb ul li{
	float:left;
	padding-right:4px;
	padding-left:0px;
	color:#fff;
	font-size:14px;
}

#breadcrumb ul li.rex-lvl1{
	display:none;
	
}

#breadcrumb ul li.rex-lvl2{
	
	padding-left:0px;
	
}

#breadcrumb ul li a{
	color:#fff;
}

#breadcrumb ul li a:hover{
	color:#dc5d14;
	
}

#breadcrumb ul li:before {
content: "/ ";
color:#dc5d14;

}

#breadcrumb ul li.rex-lvl2:before {
content: "";

}

#detailtext .tip{
	position:absolute;
	width:100px;
	height:58px;
	top:0px;
	left:0px;
	
}
#detailtext .tip img{
	
	width:100px;
	height:58px;

	
}

#detailtext .short{
	margin-bottom:-20px;
	
}


#detailtext .hiddendetail{
	display:none;	
	padding-bottom:0px;
}

#detailtext .section{
	background:#a99d97;
	margin-left:-30px;
	padding-left:30px;
	padding-top:20px;
	margin-bottom:10px;
	width:480px;
	cursor:pointer;
	
}

#detailtext .sectionContent{
	display:none;
}

#detailtext .hotelmap{
	width:500px;
	height:350px;
	margin-left:-30px;
	margin-bottom:10px;
}

#detailtext .vars .sectionContent {
	max-height:350px;
	overflow-y:scroll;
	width:470px;
	
}

#detailtext .vars .sectionContent .row1 {
	width:200px;
	float:left;
	padding-right:20px;
	
}

#detailtext .vars .sectionContent .row2 {
	width:200px;
	float:left;
	padding-right:20px;
	
}

#detailtext .vars .plus{
	padding-left:20px;
	padding-bottom:20px;
	list-style-image:url(../img/plus.png);
	
}

#detailtext .vars ul li{
	font-size:12px;
	margin-left:0px;
	color:#3b2a22;
	
	
}
#detailtext .tipp{

}

#detailtext .tipp .tip2{
	position:relative;
	margin-left:-40px;

 
}


#detailtext .buchung{
	background:#a99d97;
	margin-left:-30px;
	padding-left:30px;
	padding-top:20px;
	margin-bottom:10px;
	width:480px;
	cursor:pointer;
}


#detailtext .buchung.dark{
	background:#3b2a22;
	margin-left:-30px;
	padding-left:30px;
	padding-top:20px;
	margin-bottom:10px;
	width:480px;
	cursor:pointer;
}

#detailtext .buchung.dark{
	background:#3b2a22;
	
}

#detailtext .buchung.dark .button2{
	color:#fff !important;
	
	
}


#detailtext .buchung.dark .button2{
	color:#fff !important;
	
	
}

#detailtext .buchung.dark .abstand{
	color:#fff;
	
	
}

#detailtext .buchungsanfrage{
	display:none;
	padding-bottom:20px;
	padding-right:30px;
	
}



#buchungsform input{
	width:408px;
	padding-left:10px;
	padding-right:10px;
	color:#3b2a22;
	font-style:italic;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	height:28px;
	line-height:28px;
	border:none;
	margin-bottom:10px;
}

#buchungsform select{
	width:408px;
	
	color:#3b2a22;
	font-style:italic;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:10px;
	margin-right:8px;
	margin-bottom:10px;
}


#buchungsform textarea{
	width:408px;
	padding-left:10px;
	padding-right:10px;
	color:#3b2a22;
	font-size:14px;
	font-style:italic;
	font-family:Arial, Helvetica, sans-serif;
	height:130px;
	border:none;
	margin-bottom:10px;
	margin-top:10px;
	padding-top:5px;
}



#buchungsform input.date{
	width:152px;
	padding-left:45px;
	padding-right:10px;
	color:#3b2a22;
	font-style:italic;
	font-family:Arial, Helvetica, sans-serif;
	height:28px;
	line-height:28px;
	border:none;
	margin-bottom:10px;
	margin-right:10px;
	margin-top:10px;
	background-image:url(../img/calender.png);
	background-repeat:no-repeat;
	background-position:left;
}
#buchungsform input.datesmall{
	width:82px;
	padding-left:45px;
	padding-right:10px;
	color:#3b2a22;
	font-style:italic;
	font-family:Arial, Helvetica, sans-serif;
	height:28px;
	line-height:28px;
	border:none;
	margin-bottom:10px;
	margin-right:10px;
	margin-top:10px;
	background-image:url(../img/calender.png);
	background-repeat:no-repeat;
	background-position:left;
}


#buchungsform input.time{
	width:82px;
	padding-left:45px;
	padding-right:10px;
	color:#3b2a22;
	font-style:italic;
	font-family:Arial, Helvetica, sans-serif;
	height:28px;
	line-height:28px;
	border:none;
	margin-bottom:10px;
	margin-right:10px;
	margin-top:10px;
	background-image:url(../img/time.png);
	background-repeat:no-repeat;
	background-position:left;
}

#buchungsform input.person{
	width:152px;
	padding-left:45px;
	padding-right:10px;
	color:#3b2a22;
	font-style:italic;
	font-family:Arial, Helvetica, sans-serif;
	height:28px;
	line-height:28px;
	border:none;
	margin-bottom:15px;
	margin-right:10px;
	margin-top:10px;
	background-image:url(../img/person.png);
	background-repeat:no-repeat;
	background-position:left;
}
#buchungsform input.person2{
	width:152px;
	padding-left:45px;
	padding-right:10px;
	color:#3b2a22;
	font-style:italic;
	font-family:Arial, Helvetica, sans-serif;
	height:28px;
	line-height:28px;
	border:none;
	margin-bottom:15px;
	margin-right:10px;
	margin-top:10px;
	background-image:url(../img/persons.png);
	background-repeat:no-repeat;
	background-position:left;
}
#buchungsform input.personsmall{
	width:71px;
	padding-left:45px;
	padding-right:10px;
	color:#3b2a22;
	font-style:italic;
	font-family:Arial, Helvetica, sans-serif;
	height:28px;
	line-height:28px;
	border:none;
	margin-bottom:15px;
	margin-right:10px;
	margin-top:10px;
	background-image:url(../img/person.png);
	background-repeat:no-repeat;
	background-position:left;
}

#buchungsform img{
	margin-top:-2px;
	margin-right:5px;	
}
#buchungsform .submit-btn{
	margin-top:20px;
	background:url(../img/arrow_right.png) no-repeat;
	background-position:right;
	width:120px;
	text-align:left;
	height:30px;
	border:none;
	font-family: 'PTSansNarrowRegular';
	font-size:24px;
	font-weight:100;
	color:#3b2a22;
	text-transform:uppercase;
	
}

#detailtext .buchung.dark .submit-btn{
	color:#fff;
	
	
}


#detailtext .bewertung{
	background:#fdf1eb;
	margin-left:-30px;
	padding-left:30px;
	padding-top:20px;
	margin-bottom:10px;
	width:480px;
	cursor:pointer;
}

#detailtext .bewertung h2{
	color:#3b2a22;
	
	
}

#detailtext .bewertung h2 img{
	margin-top:-5px;
	
	
}

#detailtext .bewertungen{
	display:none;
	padding-bottom:20px;
	padding-right:30px;
	

	
	
}
#detailtext .bewertungen p{
	font-size:14px;
}

#detailtext .bewertungen .star{
	margin-top:-5px;
}

#detailtext .button2 {
	font-family: 'PTSansNarrowRegular';
	font-size:20px;
	font-weight:100;
	color:#3b2a22;
	text-transform:uppercase;
	position:absolute;
	right:80px;
	margin-top:-3px;
	cursor:pointer;
}

#content .button2 {
	font-family: 'PTSansNarrowRegular';
	font-size:20px;
	font-weight:100;
	color:#3b2a22;
	text-transform:uppercase;
	position:absolute;
	right:80px;
	margin-top:-3px;
	cursor:pointer;
}

#content .button2 img{
	margin-left:20px;
	margin-top:-5px;
}


#content .button2 a{
	color:#3b2a22;
}



#detailtext .button2 img{
	margin-left:20px;
	margin-top:-5px;
}

#detailtext .button {
	font-family: 'PTSansNarrowRegular';
	font-size:20px;
	font-weight:100;
	color:#3b2a22;
	background:#fff;
	padding:20px;
	padding-top:5px;
	padding-bottom:5px;
	text-transform:uppercase;
	position:absolute;
	right:50px;
	top:100%;
	cursor:pointer;
	
}


#detailtext .button:hover{
	
	
}

#detailtext .button img{
	margin-left:20px;
	margin-top:-3px;
}

 h1{
	font-family: 'PTSansNarrowRegular';
	font-size:36px;
	color:#dc5d14;
	color:#3b2a22;
	
	line-height:32px;
	text-transform:uppercase;
	font-weight:100;
	width:400px;
	padding:0;
	margin:0;
	
	
}

#content .contenttext.big h1{
	
	width:500px;
	
	
	
}

 h2{
	font-family: 'PTSansNarrowRegular';
	font-size:22px;
	color:#3b2a22;
	line-height:20px;
	font-weight:100;
	margin-bottom:-5px;
	
}

 h2.white{
	font-family: 'PTSansNarrowRegular';
	margin-top:0px;
	font-size:22px;
	color:#fff;
	line-height:20px;
	font-weight:100;
	padding-bottom:15px;
	margin-bottom:0px;
	
}

#detailtext h2.top{
	
	margin-bottom:-25px;
	
}

 h3{
	font-family: 'PTSansItalic';
	font-size:18px;
	color:#c1b2ac;
	line-height:20px;
	font-weight:100;
	margin-bottom:-5px;
	
}

a{
	text-decoration:none;
	color:#dc5d14;
	
}

#gesendet2{
	font-size:12px;
	text-align:left;
	padding-left:30px;
	
}
#gesendet3{
	font-size:12px;
	
	
}

#detailtext p{
	font-size:15px;
	font-family:Arial;
	color:#605550;
	font-weight:100;
}


#detailtext .detailinfo{
	border-bottom:#fff solid 1px;
	width:480px;
	margin-top:6px;
	margin-left:-30px;
	padding-bottom:2px;
		overflow-x:hidden;

}
#detailtext .detailinfo.last{
	border-bottom:none;


}

#detailtext .detailinfo .leftcol{
	padding-left:30px;
	color:#fff;
	font-size:14px;
	text-transform:uppercase;
	width:150px;
	float:left;
}


#detailtext .detailinfo .rightcol{
	width:300px;
	float:left;
	color:#3b2a22;
	font-size:16px;
	font-weight:300;
	margin-top:-2px;
	font-family:Arial;
}

#detailtext .detailinfo .rightcol p{
	color:#3b2a22;
	font-size:16px;
	font-weight:300;
	margin-top:0px;
	
}
#detailtext .detailinfo .rightcol a{
	text-decoration:none;
	color:#dc5d14;
	
}

#detailtext .detailinfo .rightcol .star{
	margin-top:-3px;
}

#detailtext .detailinfo table td{
	padding-right:10px;
	color:#3b2a22;
	font-size:16px;
	font-weight:300;
	
}


#content{
	position:relative;
	margin-left:250px;
	
}

#content .background{
	position:fixed;
	width:100%;
	height:100%;
	background-size:cover;
	background-position:center;
	
}

#content .contenttext{

	position:absolute;
	top:5%;
	right:0px;
	background:#fff;
	width:440px;
	padding:30px;
	padding-right:80px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -khtml-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
	
	
}
#content .contenttext.big{
	width:640px;
}

#content .contenttext.dark{
	background:#cec3be !important;
}

#content .contenttext.kontakt{
	background:#cec3be !important;	
	width:350px;
}

.close{

	position:absolute;
	top:20px;
	right:70px;
	
	
}

#content h1{
	font-family: 'PTSansNarrowRegular';
	font-size:36px;
	color:#3b2a22;
	font-size:40px;
	line-height:38px;
	text-transform:uppercase;
	font-weight:100;
	
}

#content p{
	font-size:15px;
	font-family:Arial;
	color:#605550;
	font-weight:100;
}
        
        
#categories{
	position:fixed;
	height:100%;
	overflow-y:auto;
	background:#fff;
	background-size:cover;
	width:0px;
	padding:30px;
	padding-top:20px;
	padding-right:0px;
	top:0px;
	right:0px;
	z-index:1002;
	
}

#categories h3{
	font-size:12px;
	color:#cec3be;
	text-transform:uppercase;
	font-family: Arial;
	font-weight:bold;
}


#categories ul{
	padding:0;
	list-style:none;
	width:150px;
	border-bottom:#cec3be solid 1px;
	padding-right:20px;
	padding-bottom:20px;
	
}

#categories ul.last{
	
	border-bottom:none;
	
	
}

#categories ul li{
	margin-left:0px;
	line-height:18px;
	
	
}

#categories ul ul{
	padding:0;
	padding-left:20px;
	list-style:none;
	width:100px;
	border-bottom:none;
	margin-top:0px;
	margin-bottom:7px;
	padding-bottom:0px;
	
}



#categories ul ul li{
	margin-left:0px;
	
	
}

#categories ul li a{
	font-family: 'PTSansNarrowRegular';
	font-size:16px;
	line-height:18px;
	color:#3b2a22;
	text-transform:uppercase;
	
}
#categories ul ul li a{
	font-family: 'PTSansNarrowRegular';
	font-size:14px;
	line-height:14px;
	color:#3b2a22;
	
}

#categories ul.small li a{
	font-family: 'PTSansNarrowRegular';
	font-size:14px;
	line-height:14px;
	color:#3b2a22;
	
}

#categories ul li a:hover{
	color:#dc5d14;
	
}

        
#categoriesBtn{
	position:fixed;
	width:50px;
	height:100%;
	right:0px;
	top:0px;
	background:#dc5d14;
	z-index:1003;
	
	
}

#categoriesBtn div.btn{
	padding-bottom:15px;
	
	
}
#categoriesBtn div.btn:hover{
	background:#3b2a22;
	
	
	
}

#categoriesBtn img{
	margin-top:15px;
	cursor:pointer;
	
	
	
}

span.orange{
	color:#dc5d14 !important;
	
	
}

.seperator{
	border-bottom:solid 1px #c1b3ad;
	margin-left:-30px;
	width:550px;
	margin-top:25px;
	
	
}

.big .seperator{
	border-bottom:solid 1px #c1b3ad;
	margin-left:-30px;
	width:750px;
	margin-top:25px;
	
	
}
.registersection{
	border-top:#fff solid 1px;
	margin-left:-30px;
	padding-left:30px;
	padding-top:5px;
	
}

#registerform .info{
	font-size:12px;
	color:#FFF;
	text-transform:uppercase;
	line-height:20px;
	
}

#registerform .info.small{
	font-size:12px;
	color:#FFF;
	text-transform:none;
	line-height:20px;
	
}


#registerform label{
	font-size:12px;
	color:#FFF;
	text-transform:uppercase;
	margin-top:10px;
	margin-left:10px;
	
}

#registerform input{
	width:258px;
	font-size:13px;
	padding-left:10px;
	padding-right:10px;
	color:#3b2a22;
	font-style:italic;
	font-family:Arial, Helvetica, sans-serif;
	height:30px;
	line-height:30px;
	border:none;
	margin-bottom:10px;
}

#registerform input.grey{
    background: #e0d8d5;
}

#registerform input[type="checkbox"]{
	margin-right:20px;
	-webkit-appearance: checkbox;
  	width: 20px;
  	height: 20px;
}


#registerform .submit-btn{
	margin-top:20px;
	background:url(../img/arrow_right.png) no-repeat;
	background-position:right;
	padding-right:50px;
	height:30px;
	border:none;
	font-family: 'PTSansNarrowRegular';
	font-size:24px;
	font-weight:100;
	color:#3b2a22;
	text-transform:uppercase;
	
}

#registerform .interessen{
	float:left;
	width:210px;
	padding-top:10px;
	
	
}

#registerFormDivReady{
	display:none;
	
}

#contactform input{
	width:328px;
	padding-left:10px;
	padding-right:10px;
	color:#b7aca6;
	font-style:italic;
	font-family:Arial, Helvetica, sans-serif;
	height:30px;
	line-height:30px;
	border:none;
	margin-bottom:10px;
}

#contactform textarea{
	width:328px;
	padding-left:10px;
	padding-right:10px;
	color:#b7aca6;
	font-style:italic;
	font-family:Arial, Helvetica, sans-serif;
	height:130px;
	border:none;
	margin-bottom:10px;
	padding-top:5px;
}

#contactform .submit-btn{
	margin-top:20px;
	background:url(../img/arrow_right.png) no-repeat;
	background-position:right;
	width:150px;
	height:30px;
	border:none;
	font-family: 'PTSansNarrowRegular';
	font-size:24px;
	font-weight:100;
	color:#3b2a22;
	text-transform:uppercase;
	float:right;
	
}





.highlight{
	margin-top:30px;
	cursor:pointer;
	
	position:relative;
	
}


.highlight .logo{
	
	 margin:auto;
	
}

.highlight h2{
	
	font-family: 'PTSansNarrowRegular';
	font-size:26px;
	color:#dc5d14;
	color:#3b2a22;
	width:560px;

	
	line-height:26px;
	font-weight:100;
	padding:0;
	margin:0;
	padding-top:10px;
	min-height:60px;
	
	
	
}

.highlight .detail{
	display:none;
	
	
	
}

.highlight .detail.show{
	display:block;



}

.highlight .detail.dark{
	background:#cec3be !important;
	margin-left:-30px;
	padding-left:30px;
	width:110%;
}

.highlight .open{
	position:absolute;
	height:80px;
	border-left:thin solid #CCC;
	top:0px;
	right:20px;
	
	
	
}

.highlight .open img{
	padding-top:20px;
	padding-left:20px;
	
	
	
}

.highlight .logodiv{
	width:160px;
	height:80px;
	margin-right:30px;
	float:left;
	text-align:center;
	
	
	
}


.kundensection{
	cursor:pointer;
	width:672px;

	position:relative;
	border-top: 1px solid #ccc;
	margin-left:-30px;
	padding-left:30px;
}

.kundensection.last{
	
	border-bottom: 1px solid #ccc;
	
}




.kundensection h2{
	
	font-family: 'PTSansNarrowRegular';
	font-size:26px;
	color:#dc5d14;
	color:#3b2a22;
	width:560px;

	
	line-height:60px;
	font-weight:100;
	padding:0;
	margin:0;
	padding-top:10px;
	min-height:60px;
	
	
	
}
.kundensection h2.active{
	font-weight:600 !important;
}

.kundensection .detail{
	display:none;
	margin-left:-30px;
	padding-left:30px;
	padding-bottom:20px;
	padding-top:20px;
	
	background:#cec3be !important;
	cursor:default;
	
	
}

.kundensection .open{
	position:absolute;
	height:70px;
	border-left:thin solid #CCC;
	top:0px;
	right:20px;
	width:60px;
	text-align:right;
	padding-right:10px;
	
	
	
}

.kundensection .open img{
	padding-top:20px;
	padding-left:0px;
	
	
	
}

table.bookings{
	width:650px;

	font-size:13px;
	color:#7f7772;
	
}

table.bookings tr{
	height:25px;
	
	
}



table.bookings td{
	width:110px;
	padding-left:5px;
	padding-right:5px;
	color:#3b2a22;
	
	
	
}
table.bookings tr.head td{
	font-weight:bold;
	color:#3b2a22 !important;
	
	
}
table.bookings tr:not(:last-child) td{
	border-bottom:#fff 1px solid;
}
table.bookings td.big{
	width:250px;
	
	
	
}

table.bookings td.center{
	text-align:center;
	
	
	
}

table.bookings tr.form{
	display:none;
	
	
	
}


.bewertungsformDiv{
	display:none;
	width:600px;
	padding:20px;
}

.bewertungsformDiv h3{
	padding:0;
	margin:0;
	margin-bottom:10px;
	color:#3b2a22;
}




.bewertungsformDiv input{
	border:#CCC solid 1px !important;
	width:580px;
	padding-left:10px;
	padding-right:10px;
	color:#3b2a22;
	font-style:italic;
	font-family:Arial, Helvetica, sans-serif;
	height:30px;
	line-height:30px;
	border:none;
	margin-bottom:10px;
}

.bewertungsformDiv textarea{
	border:#CCC solid 1px !important;
	width:580px;
	padding-left:10px;
	padding-right:10px;
	color:#3b2a22;
	font-style:italic;
	font-family:Arial, Helvetica, sans-serif;
	height:130px;
	border:none;
	margin-bottom:10px;
	padding-top:5px;
}

.bewertungsformDiv .submit-btn{
	margin-top:20px;
	background:url(../img/arrow_rights.png) no-repeat;
	background-position:right;
	padding-right:20px;
	height:30px;
	border:none;
	font-family: 'PTSansNarrowRegular';
	font-size:20px;
	font-weight:100;
	color:#3b2a22;
	text-transform:uppercase;
	
}


.bewertungsformDiv .close-btn{
	margin-top:20px;
	background:url(../img/closes.png) no-repeat;
	background-position:right;
	padding-right:30px;
	height:30px;
	border:none;
	font-family: 'PTSansNarrowRegular';
	font-size:20px;
	font-weight:100;
	color:#3b2a22;
	text-transform:uppercase;
	position:absolute;
	right:50px;
	
}






.ratingimg{
	margin-top:-2px;
	margin-bottom:18px;
	
	
}


.ratingcount{
	position:absolute;
	left:170px;
	font-size:14px;
	color:#3b2a22;
	
	
	
	
}

.ratingcount2{
	position:absolute;
	left:320px;
	font-size:13px;
	color:#3b2a22;
	
	
	
	
}

.triplogo{
	margin-bottom:3px;
	margin-left:5px;
	 width:90px; 
	 height:23px;
	
}




.buttondark{
	background:#3b2a22;
	padding:1px 15px 1px 15px;

  	color: white;
}

.buttondark:hover{
	background:#dc5d14;
	padding:1px 15px 1px 15px;

  	color: white;
}


.buttondark.off{
	background:#ccc;
  	color: 666;
}

#userform .info{
	font-size:12px;
	color:#FFF;
	text-transform:uppercase;
	line-height:20px;
	
}

#userform .info.small{
	font-size:12px;
	color:#FFF;
	text-transform:none;
	line-height:20px;
	
}


#userform label{
	font-size:12px;
	color:#FFF;
	text-transform:uppercase;
	margin-top:10px;
	margin-left:10px;
}

#userform input{
	width:258px;
	font-size:13px;
	padding-left:10px;
	padding-right:10px;
	color:#7f7772;
	font-style:italic;
	font-family:Arial, Helvetica, sans-serif;
	height:30px;
	line-height:30px;
	border:none;
	margin-bottom:10px;
}

#userform .interessen{
	float:left;
	width:220px;
	padding-top:10px;
	
	
}

#userform input[type="checkbox"]{
	margin-right:20px;
	-webkit-appearance: checkbox;
  	width: 20px;
  	height: 20px;
}


#userform .submit-btn{
	margin-top:20px;
	background:url(../img/arrow_right.png) no-repeat;
	background-position:right;
	padding-right:50px;
	height:30px;
	border:none;
	font-family: 'PTSansNarrowRegular';
	font-size:24px;
	font-weight:100;
	color:#3b2a22;
	text-transform:uppercase;
	
}

#userform2 .submit-btn{
	margin-top:20px;
	background:url(../img/close.png) no-repeat;
	background-position:right;
	padding-right:50px;
	height:30px;
	border:none;
	font-family: 'PTSansNarrowRegular';
	font-size:20px;
	font-weight:100;
	color:#3b2a22;
	text-transform:uppercase;
	float:right;
	margin-top:-30px;
	margin-right:40px;
	
}


#searchform input{
	width:632px;
	padding-left:10px;
	padding-right:10px;
	color:#3b2a22;
	font-style:italic;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	height:28px;
	line-height:28px;
	border:none;
	margin-bottom:10px;
	margin-top:5px;
}

#searchform select{
	color:#3b2a22;
	font-style:italic;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;

	border:none;
	margin-bottom:10px;
	margin-top:5px;
	float:left;
	
}



#searchform input.date{
	width:192px;
	padding-left:45px;
	padding-right:10px;
	color:#3b2a22;
	font-style:italic;
	font-family:Arial, Helvetica, sans-serif;
	height:28px;
	line-height:28px;
	border:none;
	margin-bottom:10px;
	margin-right:10px;
	margin-top:10px;
	background-image:url(../img/calender2.png);
	background-repeat:no-repeat;
	background-position:left;
}


#searchform input.person{
	width:192px;
	padding-left:45px;
	padding-right:10px;
	color:#3b2a22;
	font-style:italic;
	font-family:Arial, Helvetica, sans-serif;
	height:28px;
	line-height:28px;
	border:none;
	margin-bottom:15px;
	margin-right:10px;
	margin-top:10px;
	background-image:url(../img/person2.png);
	background-repeat:no-repeat;
	background-position:left;
}
#searchform input.person2{
	width:192px;
	padding-left:45px;
	padding-right:10px;
	color:#3b2a22;
	font-style:italic;
	font-family:Arial, Helvetica, sans-serif;
	height:28px;
	line-height:28px;
	border:none;
	margin-bottom:15px;
	margin-right:10px;
	margin-top:10px;
	background-image:url(../img/person2s.png);
	background-repeat:no-repeat;
	background-position:left;
}



#searchform .submit-btn{
	margin-top:20px;
	background:url(../img/arrow_right.png) no-repeat;
	background-position:right;
	padding-right:50px;
	height:30px;
	border:none;
	font-family: 'PTSansNarrowRegular';
	font-size:24px;
	font-weight:100;
	color:#3b2a22;
	text-transform:uppercase;
	
}


#searchform div.abstand{
	width:100px;
	padding-top:15px;
	float:left;
	
	
}

#searchform div.abstand.up{
	margin-top:-10px;
	margin-bottom:10px;
	
	
}

#searchform div.age{
	display:none;
	
	
}

#searchform div.ageDiv{
	width:100px; float:left; margin-right:10px;
	
	
}

#searchform div.abstand2{
	padding-top:3px;
	padding-right:10px;
	float:left;
	
	
}

#searchform div.abstand2.next2{
	padding-left:15px;
	
	
	
}

#searchform div.abstand2.next{
	
	padding-left:15px;
	
	
	
}

#searchform span.big{
	font-size:18px;

	
	
}

#searchform img.roomRemove{
	width:20px;
	height:20px;
	cursor:pointer;

	
	
}



#zimmerform input.date{
	width:97px;
	padding-left:45px;
	padding-right:10px;
	color:#3b2a22;
	font-style:italic;
	font-family:Arial, Helvetica, sans-serif;
	height:28px;
	line-height:28px;
	border:none;
	margin-bottom:10px;
	margin-right:10px;
	margin-top:10px;
	background-image:url(../img/calender.png);
	background-repeat:no-repeat;
	background-position:left;
}


#zimmerform input.person{
	width:97px;
	padding-left:45px;
	padding-right:10px;
	color:#3b2a22;
	font-style:italic;
	font-family:Arial, Helvetica, sans-serif;
	height:28px;
	line-height:28px;
	border:none;
	margin-bottom:15px;
	margin-right:10px;
	margin-top:10px;
	background-image:url(../img/person.png);
	background-repeat:no-repeat;
	background-position:left;
}

#zimmerform input.person2{
	width:97px;
	padding-left:45px;
	padding-right:10px;
	color:#3b2a22;
	font-style:italic;
	font-family:Arial, Helvetica, sans-serif;
	height:28px;
	line-height:28px;
	border:none;
	margin-bottom:15px;
	margin-right:10px;
	margin-top:10px;
	background-image:url(../img/persons.png);
	background-repeat:no-repeat;
	background-position:left;
}



#zimmerform .submit-btn{
	margin-top:20px;
	background:url(../img/arrow_right.png) no-repeat;
	background-position:right;
	padding-right:50px;
	height:30px;
	border:none;
	font-family: 'PTSansNarrowRegular';
	font-size:24px;
	font-weight:100;
	color:#3b2a22;
	text-transform:uppercase;
	
}


#zimmerform div.abstand{
	width:100px;
	padding-top:15px;
	float:left;
	
	
}

#zimmerform div.abstand.up{
	margin-top:-10px;
	margin-bottom:10px;
	
	
}

#zimmerform div.age{
	display:none;
	
	
	
}

#zimmerform div.ageDiv{
	width:100px; float:left; margin-right:10px;
	
	
}

#zimmerform span.big{
	font-size:18px;

	
	
}

#zimmerform img.roomRemove{
	width:15px;
	height:15px;
	cursor:pointer;

	
	
}

#roomPlus{
	cursor:pointer;
	
}


.roomPlus{
	border-top:1px #fff solid;
	margin-top:10px;
	
}



#searchInfoDiv{
	margin-bottom:0px;
	display:none;
	margin-left:-30px;
	width:672px;
	height:59px;
	background:#FFF;
	padding-left:30px;
	padding-top:1px;
	margin-top:20px;
	
}

#searchInfoDiv.small{

	width:482px;
	
	
}

#searchInfoDiv p{
	font-size:13px;
	
}

#currentSearch{
	width:552px;
	
}

#currentSearch.small{
	width:452px;
	
}

#searchInfoDiv .buttonChange {
	font-family: 'PTSansNarrowRegular';
	font-size:20px;
	font-weight:100;
	color:#3b2a22;
	background:#fff;
	padding:20px;
	padding-right:30px;
	padding-top:5px;
	padding-bottom:5px;
	text-transform:uppercase;
	position:absolute;
	right:80px;
	margin-top:10px;
	cursor:pointer;
	background:url(../img/arrow_right.png) no-repeat;
	background-position:right;
	
}

#searchResultDiv{
	margin-left:-30px;
	width:702px;
	background:#FFF;
	display:none;
}
#searchResultDiv.small{
	
	width:502px;
}

#searchResultDiv .error{
	width:670px;
	border-top:solid 1px #cec3be;
	padding-top:20px;
	padding-bottom:20px;
	position:relative;
	padding-left:30px;
	
	
}
#searchResultDiv .error.small{
	width:502px;

	
	
}

#searchResultDiv .error2{
	width:670px;
	border-top:solid 1px #cec3be;
	padding-top:20px;
	padding-bottom:20px;
	position:relative;
	padding-left:30px;
	
	
}
#searchResultDiv .error2.small{
	width:502px;

	
	
}






#searchResultDiv .hotel{
	width:670px;
	border-top:solid 1px #cec3be;
	padding-top:20px;
	padding-bottom:20px;
	position:relative;
	
	
}

#searchResultDiv .hotel .tip{
	position:absolute;
	width:122px;
	height:71px;
	
}

#searchResultDiv .hotel .image{
	width:180px;
	height:180px;
	float:left;
	text-align:center;
	background:#CCC;
	
	
	
}

#searchResultDiv .hotel .image img {
	
	
	
	
}

#searchResultDiv .hotel .info{
	width:470px;
	padding-left:15px;
	font-family: 'PTSansNarrowRegular';
	font-size:20px;
	padding-top:5px;
	text-transform:uppercase;
	float:left;
	
	
}

#searchResultDiv .hotel .info2{
	width:280px;
	padding-left:15px;
	float:left;
	font-size:13px;
	color:#3b2a22;
	
}

#searchResultDiv .hotel .info2 p{
	
	font-size:13px;
	color:#3b2a22;
	
}

#searchResultDiv .hotel .preis{
	font-size:13px;
	color:#3b2a22;
	text-align:right;
	float:left;
	position:absolute;
	right:0px;
	bottom:60px;
	
	
}

#searchResultDiv .hotel .preis.top{
	bottom:80px;
	
	
}

#searchResultDiv .hotel .preis span.big{
	
	font-family: 'PTSansNarrowRegular';
	font-size:30px;
	font-weight:bold;
	color:#dc5d14;
	
}

#searchResultDiv .hotel .preis span.small{
	
	font-family: 'PTSansNarrowRegular';
	font-size:16px;
	text-decoration:line-through;
	padding-right:10px;
	
	
}

#searchResultDiv .hotel .angebot{
	width:128px;
	padding:5px 15px 5px 15px;
	color:#FFF;
	font-size:11px;
	float:left;
	position:absolute;
	right:-40px;
	top:20px;
	background:url(../img/verlauf1.png);
	
}

#searchResultDiv .hotel .buttonB {
	font-family: 'PTSansNarrowRegular';
	font-size:20px;
	font-weight:100;
	color:#fff;
	width:152px;
	height:30px;
	padding-top:4px;

	text-transform:uppercase;
	text-align:center;
	position:absolute;
	right:-5px;
	bottom:16px;
	margin-top:10px;
	cursor:pointer;
	background:url(../img/button.png) no-repeat;
	
}

#searchResultDiv .hotel .map{
	position:absolute;
	left:195px;
	bottom:20px;
	font-size:12px;
}









#searchResultDiv .zimmer{
	width:470px;
	min-height:100px;
	border-top:solid 1px #cec3be;
	position:relative;
	
	
	
}

#searchResultDiv .zimmerIn{
	width:470px;
	min-height:100px;

	padding-top:20px;
	padding-bottom:20px;
	position:relative;
	
	
	
}



#searchResultDiv .zimmer .info{
	width:270px;
	padding-left:30px;
	font-family: 'PTSansNarrowRegular';
	font-size:16px;
	line-height:16px;
	padding-top:5px;
	text-transform:uppercase;
	float:left;
	
	
}

#searchResultDiv .zimmer .info-all{
	min-height:94px;
	
	
	
}

#searchResultDiv .zimmer .info2{
	width:280px;
	padding-left:30px;
	float:left;
	font-size:11px;
	color:#3b2a22;
	
}

#searchResultDiv .zimmer .info2 p{
	
	font-size:11px;
	color:#3b2a22;
	
}

#searchResultDiv .zimmer .preis{
	font-size:13px;
	color:#3b2a22;
	text-align:right;
	float:left;
	position:absolute;
	right:0px;
	bottom:60px;
	
	
}

#searchResultDiv .zimmer .zimmerinfo{
	font-size:13px;
	color:#3b2a22;
	margin-left:20px;
	margin-top:10px;
	cursor:pointer;
	
}

#searchResultDiv .zimmer .zimmerinfo span{
	background:#fff;
	font-size:12px;
	padding:4px 8px 4px 8px;
	
}

#searchResultDiv .zimmer .zimmerinfo span img{
	margin-top:-2px;
	
}

#searchResultDiv .zimmer .zimmerinfoDetail{
	padding-bottom:20px;
	margin-top:-20px;
	display:none;
	
	
}

#searchResultDiv .zimmer .zimmerinfoDetail{
	padding-left:30px;
	font-size:12px;
	color:#666;
	
	
}

#searchResultDiv .zimmer .zimmerinfoDetail p{
	font-size:12px;
	color:#666;
	
	
}

#searchResultDiv .zimmer .zimmerinfoDetail ul{
	list-style-type:square;
	
	
}

#searchResultDiv .zimmer .preis.top{
	bottom:80px;
	
	
}

#searchResultDiv .zimmer .preis span.big{
	
	font-family: 'PTSansNarrowRegular';
	font-size:30px;
	font-weight:bold;
	color:#dc5d14;
	
}

#searchResultDiv .zimmer .preis span.small{
	
	font-family: 'PTSansNarrowRegular';
	font-size:16px;
	text-decoration:line-through;
	padding-right:10px;
	
	
}

#searchResultDiv .zimmer .angebot{
	width:125px;
	padding:5px 15px 5px 15px;
	color:#FFF;
	font-size:11px;
	background:url(../img/verlauf1.png);
	
}

#searchResultDiv .zimmer .buttonBook {
	font-family: 'PTSansNarrowRegular';
	font-size:20px;
	font-weight:100;
	color:#fff;
	width:152px;
	height:30px;
	padding-top:4px;

	text-transform:uppercase;
	text-align:center;
	position:absolute;
	right:-5px;
	bottom:16px;
	margin-top:10px;
	cursor:pointer;
	background:url(../img/button.png) no-repeat;
	
}

#searchResultDiv .steuern{
	border-top:solid 1px #cec3be;
	padding-left:30px;
	padding-bottom:5px;
	width:440px;
	font-size:11px;
	
}


#searchResultDiv .location{
	cursor:pointer;
	height:10px;
	
}

#searchResultDiv .location:hover{
	color:#dc5d14;
	
}




.download {
	
	font-family: 'PTSansNarrowRegular';
	font-size:20px;
	font-weight:100;
	color:#3b2a22;
	text-transform:uppercase;
	width:50%;
	cursor:pointer;
	float:left;
	
	
	
	
	
}

.download a{
	color:#3b2a22;
}

.download a:hover{

}

.download img{
	margin-left:20px;
	margin-top:-5px;
}

.download {
	
	
}

.contenttext ul{
	list-style:none;
	padding-left:10px;
}

.contenttext ul li{

	font-size:14px;
	font-family:Arial;
	color:#605550;
	line-height:17px;
	font-weight:100;
	
	
}

.contenttext ul:not(.sbOptions) li:before {
  color:#dc5d14; /* set color to red */
  content:"\25AA"; /* /2022 is the numerical unicode for &bull; */
  font-size:18px; /* set the font-size of the bullet if necessary. Make sure to use em or %*/
  padding-right:10px; /* give the bullet some padding from the text Make sure to use em*/
  position:relative;
    top:.1em; /* set the vertical position of the bullet if necessary. Make sure to use em or % */
}






span.red{
	color:#C00;
}

span.red2{
	color:#C00;
	padding-left:5px;
}

.loadmoreDiv .loadmore{
	padding-left:20px;
	
	
}






.placeholder { color: #666; }
.placeholderFocus { color: #000; }





@CHARSET "UTF-8";
.sbHolder{
	background-color: #fff;
	font-family: Arial, sans-serif;
	font-size: 13px;
	font-style:italic;
	font-weight: normal;
	height: 28px;
	position: relative;
	border:#fff solid 1px;
	
}

.grey .sbHolder{
    background: #e0d8d5;
    border:#e0d8d5 solid 1px;
}

.sbHolder:focus .sbSelector{
	
}
.sbSelector{
	display: block;
	height: 30px;
	left: 0;
	line-height: 30px;
	outline: none;
	overflow: hidden;
	position: absolute;
	text-indent: 10px;
	top: 0;
	
}
.sbSelector:link, .sbSelector:visited, .sbSelector:hover{
	color: #3b2a22;
	outline: none;
	text-decoration: none;
}
.sbToggle{
	background: url(../img/select-icons.png) 0 -116px no-repeat;
	display: block;
	height: 30px;
	outline: none;
	position: absolute;
	right: 0;
	top: 0;
	width: 30px;
}
.sbToggle:hover{
	background: url(../img/select-icons.png) 0 -167px no-repeat;
}
.sbToggleOpen{
	background: url(../img/select-icons.png) 0 -16px no-repeat;
}
.sbToggleOpen:hover{
	background: url(../img/select-icons.png) 0 -66px no-repeat;
}
.sbHolderDisabled{
	background-color: #3C3C3C;
}
.sbHolderDisabled .sbHolder{
	
}
.sbHolderDisabled .sbToggle{
	
}
.sbOptions{
	background-color: #fff;
	list-style: none !important;
	left: -1px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 30px;
	width:96%;
	z-index: 1;
	overflow-y: auto;
}

.buchungsanfrage .sbOptions{
 
}

.ageDiv .sbOptions{
 
}
.registersection .sbOptions{
 
}
.sbOptions ul{
	list-style-type:none !important;
}
.sbOptions li{
	padding: 0 7px 0px 0px;
}
.buchungsanfrage .sbOptions li{
	padding: 0 7px 0px 7px;
}
.sbOptions a{
	border-bottom: dotted 1px #515151;
	display: block;
	outline: none;
	padding: 7px 0 7px 3px;
}
.sbOptions li:last-child a{
	border-bottom: none;
}
.sbOptions a:link, .sbOptions a:visited{
	color: #605550;
	text-decoration: none;
}
.sbOptions a:hover,
.sbOptions a:focus,
.sbOptions a.sbFocus{
	color: #dc5d14;
}
.sbOptions li.last a{
	border-bottom: none;
}
.sbOptions .sbDisabled{
	border-bottom: dotted 1px #515151;
	color: #999;
	display: block;
	padding: 7px 0 7px 3px;
}
.sbOptions .sbGroup{
	border-bottom: dotted 1px #515151;
	color: #EBB52D;
	display: block;
	font-weight: bold;
	padding: 7px 0 7px 3px;
}
.sbOptions .sbSub{
	padding-left: 17px;
}



/* iCheck plugin Square skin, orange
----------------------------------- */
.icheckbox_square-orange,
.iradio_square-orange {
    display: block;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    background: url(../img/orange.png) no-repeat;
    border: none;
    cursor: pointer;
	float:left;
}

.icheckbox_square-orange {
    background-position: 0 0;
}
    .icheckbox_square-orange.hover {
        background-position: -24px 0;
    }
    .icheckbox_square-orange.checked {
        background-position: -48px 0;
    }
    .icheckbox_square-orange.disabled {
        background-position: -72px 0;
        cursor: default;
    }
    .icheckbox_square-orange.checked.disabled {
        background-position: -96px 0;
    }

.iradio_square-orange {
    background-position: -120px 0;
}
    .iradio_square-orange.hover {
        background-position: -144px 0;
    }
    .iradio_square-orange.checked {
        background-position: -168px 0;
    }
    .iradio_square-orange.disabled {
        background-position: -192px 0;
        cursor: default;
    }
    .iradio_square-orange.checked.disabled {
        background-position: -216px 0;
    }

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (-moz-min-device-pixel-ratio: 1.5),
       only screen and (-o-min-device-pixel-ratio: 3/2),
       only screen and (min-device-pixel-ratio: 1.5) {
    .icheckbox_square-orange,
    .iradio_square-orange {
        background-image: url(../img/orange@2x.png);
        -webkit-background-size: 240px 24px;
        background-size: 240px 24px;
    }
}









@media only screen and (max-height: 800px) {
#navigation .mainnavi{
	margin-top:50px;
	
	
}

#navigation .mainnavi li a{
	font-size:18px;
	line-height:14px;
}
#navigation .mainnavi li {
	padding-top:4px;
}

#navigation .mainnavi li img.new {
	margin-top:-9px;
	margin-right:5px;
	width:20px;
	height:20px;
	display:inline;
	
}

#navigation .mainnavi li img.new_over {
	margin-top:-9px;
	margin-right:5px;
	width:20px;
	height:20px;
	display:none;
}


#navigation .mainnavi li.small {

	padding-top:0px;
}


#navigation .mainnavi li.small a{
	font-size:14px;
	line-height:12px;
}

#categories h3{
	padding:0;
	margin:0;
	margin-bottom:-5px;
}


#categories ul{

	margin-top:4px;
	
	padding-right:10px;
	padding-bottom:10px;
	
}

#categories ul li{

	

	
	
}

#categories ul li{
	padding:0px !important;
	line-height:15px !important;
	
}
#categories ul li a{

	font-size:13px;
	line-height:13px !important;


	
	
}
#categories ul ul li a{
	
	font-size:12px;
	line-height:12px !important;


	
}

#categories ul.small li a{
	
	font-size:12px;
	line-height:12px !important;
	

	
}
}










/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}